<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Integration Bridge</title>
		<style type="text/css">
			html {
				color-scheme: dark;
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				font-size: 12pt;
			}
			body {
				margin: auto;
				max-width: 1024px;
			}

			h1, h2, h3, h4, h5, h6 {
				font-weight: 200;
			}

			.muted {
				color: #888888;
			}
			.attr {
				color: #ce64ce;
			}
			.val {
				color: #42caca;
			}
			.path {
				color: #4bca4b;
			}
			.error {
				color: #922020;
			}

			li {
				margin-top: 0.5em;
			}

			.hidden {
				display: none;
			}

			input, select, button {
				box-sizing: border-box;
				padding: 0.5em;
				
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				font-size: 12pt;
			}
			input {
				width: 100%;
			}
			#search {
				position: sticky;
				top: 5px;
			}

			.form {
				padding: 10px;
				border-bottom: 1px solid #888888;
			}
			.form-id {
				font-family: monospace;
				color: #00ffff;
			}
			.form-details {
				font-size: smaller;
			}
			.form-send {
				float: right;
				cursor: pointer;
			}

			.alias {
				display: flex;
				column-gap: 5px;
				margin-bottom: 5px;
			}
		</style>
	</head>
	<body>
		<h1>Integration Bridge</h1>
		<p>This is a little helping page where you can an overview about the Webhook, search for form IDs and test the mod.</p>
		<h2>Webhook</h2>
		<a class="expand-link" data-container="webhook-info" href="#">▲ Expand description</a> | <a onClick="webhookDialog('','','')" href="#">Webhook builder</a>
		<div id="webhook-info" class="hidden">
			<p>Most local-run Twitch bots or automation applications, even the Stream Deck, let you make web requests. Your request is made via unencrypted http on a non-default port. So the start of you URL looks like this: <code>http://localhost:8111/</code> after this you add "search parameters". These are known but not required for every request:</p>
			<ul>
				<li><strong>type</strong><br>
					Spawn/Event type. Types are described below.</li>
				<li><strong>form</strong><br>
					Skyrim base form ID to spawn/equip/add to inventory; depending on type.<br>
					Form IDs are provided in hexadecimal (as displayed in most mod tools or Skyrim console) without the plugin prefix. The first 8 bits of the form ID are used for the plugin prefix determined by load order. If the plugin is ESL flagged the first 20 bits are set by load order. This prefix should not be provided. So must only provide the last 6 (or 3 for ESL plugins) hexadecimal numbers of the form ID. Leading zeros can be omitted. You can prefix the form ID with a 0x. By default we assume you mean to use a form from the Skyrim.esm game plugin. If you want to use a form from another plugin you prefix the form ID with the plugin filename and a vertical bar: Skyrim.esm|64b33.</li>
				<li><strong>alias_group</strong><br>
					If this parameter is set only aliases may be used for the <span class="attr">form</span> parameter. Additionally the aliases allowed will be filtered by the group entered here. Altough the usage of it is discouraged, you can use <code>*</code> to allow all aliases.</li>
				<li><strong>count</strong><br>
					The amount that should be spawned/added to inventory; not required or available for every type. The maximum count is 128 for type 0.</li>
				<li><strong>name</strong><br>
					Name for the spawned named NPCs. Explained further below.</li>
			</ul>

			<p>There are different actions you can execute depending on your web request:</p>
			<ol>
				<li><strong>Spawn objects at player (placeatme)</strong><br>
					Example: <code><span class="muted">http://localhost:8111/</span>?<span class="attr">type</span>=<span class="val">0</span>&<span class="attr">form</span>=<span class="val">0x64b33</span>&<span class="attr">count</span>=<span class="val">50</span></code><br>
					<small>Spawns 50 cheese wheels at player. Do not use this to spawn NPCs. Spawning a lot of items can cause a lot of physics-related damage.</small></li>
				<li><strong>Add item to player inventory (additem)</strong><br>
					Example: <code><span class="muted">http://localhost:8111/</span>?<span class="attr">type</span>=<span class="val">1</span>&<span class="attr">form</span>=<span class="val">Skyrim.esm|f</span>&<span class="attr">count</span>=<span class="val">100</span></code><br>
					<small>Adds 100 gold to player inventory</small></li>
				<li><strong>Spawn NPCs at player (placeatme [but for npcs])</strong><br>
					Example: <code><span class="muted">http://localhost:8111/</span>?<span class="attr">type</span>=<span class="val">2</span>&<span class="attr">form</span>=<span class="val">0x1aef1&</span><span class="attr">count</span>=<span class="val">1</span></code><br>
					<small>Spawn a bandit. You can use LeveledActors with this.</small></li>
				<li><strong>Cast spell on player</strong><br>
					Example: <code><span class="muted">http://localhost:8111/</span>?<span class="attr">type</span>=<span class="val">3</span>&<span class="attr">form</span>=<span class="val">Skyrim.esm|0x2f3b8</span></code><br>
					<small>Casts Fast Heal on player. Concentration spells like Flames may not work as expected.</small></li>
				<li><strong>Equip item on player</strong><br>
					Example: <code><span class="muted">http://localhost:8111/</span>?<span class="attr">type</span>=<span class="val">4</span>&<span class="attr">form</span>=<span class="val">3eb2a</span></code><br>
					<small>Equip/use Warrior's potion. Can be used with weapons, armor, food... basically anything equipable. Spells or LeveledItems won't work.</small></li>
				<li><strong>Force-read a book</strong><br>
					Example: <code><span class="muted">http://localhost:8111/</span>?<span class="attr">type</span>=<span class="val">5</span>&<span class="attr">form</span>=<span class="val">PakLTwitchIntegration.esp|A23</span></code><br>
					<small>Makes the player read an uplifiting note. This places the book/note/journal item at the player, activates it and deletes it. You could use it for different activatable objects. Just keep in mind that the world-object will be deleted immediatly.</small></li>
				<li><strong>Spawn named helper</strong><br>
					Example: <code><span class="muted">http://localhost:8111/</span><span class="path">help</span>?<span class="attr">name</span>=<span class="val">Kappa</span>&<span class="attr">form</span>=<span class="val">1aef1</span></code><br>
					<small>Spawns an Bandit that will follow you, that is named Kappa. While I try my best to keep the NPC from attacking you, based on the NPCs AI it might attack friendly NPCs. It will only be one follower alive at a time. Health regeneration is disabled for that follower. After a certain amount of time (default: 5 min) the follower will vanish. You can set the time until vanish in the MCM.</small></li>
				<li><strong>Spawn named enemy</strong><br>
					Example: <code><span class="muted">http://localhost:8111/</span><span class="path">enemy</span>?<span class="attr">name</span>=<span class="val">Kappa</span>&<span class="attr">form</span>=<span class="val">1aef1</span></code><br>
					<small>Spawns an Bandit that will attack you, that is named Kappa. There can be up to 5 named enemies alive. You can set the limit in the MCM (default: 3). You can also set a spawn timeout so you don't have constantly enemies spawning. The timeout resets with every named enemy killed.</small></li>
			</ol>
		</div>

		<h2>Seach Form IDs</h2>
		<input type="search" id="search" placeholder="Search for form ID by EditorID or name">
		<output id="search-result"></output>

		<h2>Form aliases</h2>
		<p>You can set aliases for form ids. You can pass these aliases as the <code class="attr">form</code> value in the webhook. In combination with <code class="attr">alias_group</code> you can filter what aliases are allowed. Aliases may have any character or symbol except for spaces, however it is treated case insensitive. Filter groups may only contain lower case letters (a-z), you can assign multiple groups to one alias, seperated with comma.</p>
		{%- match alias_write_error %}
			{%- when Some(err) %}
		<p class="error">An error occured while saving aliases: {{ err }}.</p>
			{%- when None %}
		{%- endmatch %}
		<form method="post" action="/">
			{%- for (i, alias) in aliases.iter().enumerate() %}
			<div class="alias alias_{{ i }}">
				<input type="text" placeholder="Alias" name="alias_{{ i }}" value="{{ alias.alias }}">
				<input type="text" placeholder="Form ID" name="form_{{ i }}" value="{{ alias.form }}">
				<input type="text" placeholder="Filter groups" name="group_{{ i }}" value="{{ alias.filter_group }}">
				<button type="button" onclick="removeAlias('{{ i }}')">🗑️</button>
			</div>
			{%- endfor %}
			<div class="alias">
				<input type="text" placeholder="Alias" name="alias_new" value="">
				<input type="text" placeholder="Form ID" name="form_new" value="">
				<input type="text" placeholder="Filter groups" name="group_new" value="">
				<button type="button" disabled>🆕</button>
			</div>
			<button type="submit">Save</button>
		</form>

		<dialog id="execute-webhook">
			<form method="dialog">
				<table style="min-width:600px">
					<tbody>
						<tr>
							<td>Type:</td>
							<td>
								<select id="webhook-type">
									<option value="0">Spawn objects at player</option>
									<option value="1">Add item to player inventory</option>
									<option value="2">Spawn NPCs at player</option>
									<option value="3">Cast spell on player</option>
									<option value="4">Equip item on player</option>
									<option value="5">Force-read a book</option>
									<option value="help">Named follower</option>
									<option value="enemy">Named enemy</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Form:</td>
							<td><input type="text" id="webhook-form"></td>
						</tr>
						<tr id="webhook-count-row">
							<td>Count:</td>
							<td><input type="number" id="webhook-count" min="1" step="1" value="1"></td>
						</tr>
						<tr id="webhook-name-row">
							<td>Name:</td>
							<td><input type="text" id="webhook-name"></td>
						</tr>
						<tr>
							<td colspan="2"><input type="text" id="webhook-url" readonly></td>
						</tr>
					</tbody>
				</table>
				
				<div style="text-align: center;margin-top:1em;">
					<button value="cancel">Close</button>
					<button type="button" id="webhook-send">Send</button>
				</div>
			</form>
		</dialog>

		<script type="application/javascript">
			/**
			 * @param {string} url
			 * @param {(response: string|null) => void} callback
			 * @returns {XMLHttpRequest}
			 */
			 function _http_get(url, callback = r => {}) {
				const request = new XMLHttpRequest();
				request.open("GET", url);
				request.addEventListener("load", ev => {
					callback(request.responseText);
				});
				request.addEventListener("error", ev => {
					callback(null);
				});
				request.send();
				return request;
			}

			/**
			 * @param {string} url
			 * @param {string} data
			 * @param {(response: string|null) => void} callback
			 * @returns {XMLHttpRequest}
			 */
			function _http_post(url, data, callback = r => {}) {
				const request = new XMLHttpRequest();
				request.open("POST", url);
				request.addEventListener("load", ev => {
					callback(request.responseText);
				});
				request.addEventListener("error", ev => {
					callback(null);
				});
				request.send(new Blob([data]));
				return request;
			}

			document.querySelectorAll(".expand-link").forEach(link => {
				link.style.cursor = "pointer";
				link.addEventListener("click", () => {
					const container = document.getElementById(link.dataset.container);
					if (container.classList.contains("hidden")) {
						container.classList.remove("hidden");
						link.innerText = "▼ Collapse description";
					} else {
						container.classList.add("hidden");
						link.innerText = "▲ Expand description";
					}
				});
			});
		</script>
		<script type="application/javascript">
			/** @type { {[key: string]: string[]} } */
			const enabled_webhook_types = {
				"0": ["ALCH", "AMMO", "ARMO", "WEAP", "INGR", "MISC", "SCRL", "BOOK"],
				"1": ["ALCH", "AMMO", "ARMO", "WEAP", "INGR", "MISC", "SCRL", "BOOK"],
				"2": ["NPC_"],
				"3": ["SPEL"],
				"4": ["ALCH", "AMMO", "ARMO", "WEAP", "INGR", "SCRL"],
				"5": ["BOOK"],
				"help": ["NPC_"],
				"enemy": ["NPC_"]
			};


			const el_webhook_type = document.querySelector("#webhook-type");
			const el_webhook_type_options = el_webhook_type.querySelectorAll("option");
			const el_webhook_form = document.querySelector("#webhook-form");
			const el_webhook_count = document.querySelector("#webhook-count");
			const el_webhook_count_row = document.querySelector("#webhook-count-row");
			const el_webhook_name = document.querySelector("#webhook-name");
			const el_webhook_name_row = document.querySelector("#webhook-name-row");
			const el_webhook_url = document.querySelector("#webhook-url");
			const el_webhook_send = document.querySelector("#webhook-send");

			const el_webhook_dialog = document.querySelector("#execute-webhook");

			function webhookRefresh() {
				const type = el_webhook_type.value;
				const form = el_webhook_form.value;
				let count = el_webhook_count.value;
				const name = el_webhook_name.value;

				let webhook_url = `http://${document.location.host}/`;
				if(type === "help" || type === "enemy") {
					el_webhook_name_row.classList.remove("hidden");
					el_webhook_count_row.classList.add("hidden");
					webhook_url += type + `?name=${encodeURIComponent(name)}&form=${form}`;
				} else {
					el_webhook_name_row.classList.add("hidden");
					if(type === "4" || type === "5") {
						el_webhook_count_row.classList.add("hidden");
						count = 1;
					} else {
						el_webhook_count_row.classList.remove("hidden");
					}
					webhook_url += `?type=${type}&form=${form}`;
					if(count > 1) {
						if(type === "0" && count > 128) count = 128;
						webhook_url += `&count=${count}`;
					}
				}
				el_webhook_url.value = webhook_url;
			}

			el_webhook_type.addEventListener("change", webhookRefresh);
			el_webhook_form.addEventListener("input", webhookRefresh);
			el_webhook_count.addEventListener("input", webhookRefresh);
			el_webhook_name.addEventListener("input", webhookRefresh);

			/**
			 * @param {string} signature
			 * @param {string} form
			 * @param {string} name
			 */
			function webhookDialog(signature, form, name) {
				let first_enabled = "";
				el_webhook_type_options.forEach(option => {
					option.disabled = !(signature.length <= 0 || enabled_webhook_types[option.value].includes(signature));
					if(first_enabled.length == 0 && !option.disabled) first_enabled = option.value;
				});
				el_webhook_type.value = first_enabled;
				el_webhook_form.value = form;
				el_webhook_count.value = 1;
				el_webhook_name.value = name;

				webhookRefresh();

				el_webhook_dialog.showModal();
			}

			el_webhook_send.addEventListener("click", () => {
				webhookRefresh();
				const url = el_webhook_url.value;
				_http_get(url);
				el_webhook_dialog.close();
			});
		</script>
		<script type="application/javascript">
			const el_html = document.querySelector("html");
			const el_search_result = document.querySelector("#search-result");
			/** @type {XMLHttpRequest|null} */
			let search_request = null;
			/** @type {number|null} */
			let search_timeout = null;
			document.querySelector("#search").addEventListener("input", () => {
				if(search_request !== null) {
					search_request.abort();
				}
				clearTimeout(search_timeout);
				search_timeout = setTimeout(() => {
					const search = document.querySelector("#search").value.trim();
					if(search.length < 2) {
						el_search_result.innerHTML = "";
						return;
					}

					search_request = _http_get("./search?query=" + encodeURIComponent(search), response => {
						if(response !== null) {
							el_search_result.innerHTML = response;
							el_html.scrollTop = 0;
						}
						search_request = null;
					});
				}, 500);
			});
		</script>
		<script type="application/javascript">
			/**
			 * @param {string} index
			 */
			function removeAlias(index) {
				const alias_name = document.querySelector(`input[name=alias_${index}]`).value;
				if(confirm(`Do you really want to remove the alias '${alias_name}'?\n(Make sure to save afterwards!)`)) {
					const alias = document.querySelector(`.alias_${index}`);
					alias.parentNode.removeChild(alias);
				}
			}
		</script>
	</body>
</html>